---
services:
  apache:
    image: httpd:latest
    container_name: apache-web-server
    ports:
      - 8081:80  # Maps port 8080 on your host to port 80 on the container
    volumes:
      - ${APACHE_CONFIG_PATH}:/usr/local/apache2/htdocs/  # Serve the local directory `./www` 
      - ${APACHE_CONFIG_PATH}/config:/usr/local/apache2/conf.d/
    restart: unless-stopped